<div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">
  
      <div class="page-header text-center">
          <h2>Cross Connect Service</h2>
          
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".objSelection"><span>1</span> Object Selection</a>
              <a ui-sref-active="active" ui-sref=".hsi"><span>2</span> HSI Service </a>
              <a ui-sref-active="active" ui-sref=".video"><span>3</span> Video Service </a>

              <a ui-sref-active="active" ui-sref=".voice"><span>4</span> Voice Service </a>
              <a ui-sref-active="active" ui-sref=".review"><span>5</span> Review </a>
              <a ui-sref-active="active" ui-sref=".result"><span>6</span> Result </a>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
     <form id="signup-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>
  
  </div>
  
  <!-- <pre>
    {{ formData }}

    {{ jsonData }}
  </pre>

-->

</div>
</div>

