<h3>Object Selection</h3><br>



<!-- <div class="form-group">
    <label for="location">Location</label>
    
     <select name="Location" class="form-control pageList" ng-model="formData.core.objectLocation">
      <option value="" ng-disabled="true">Select Location</option>
	    <option value="ftwl">Ft. Wayne Lab</option>
	    <option value="lewl">Lewisville Lab</option>
	    <option value="rocl">Rochester Lab</option>
    	<option value="alll">Allen Lab</option>
  	</select>
</div> -->

<div class="form-group">
    <label for="locationid">Location ID</label>
    <input type="text" class="form-control" name="LocationID" ng-model="formData.core.objectLocationID" required> 
</div>

<div class="form-group">
    <label for="vendor">Environment</label>
     
     <select name="Vendor" class="form-control" ng-change="resetServiceConfig()" ng-model="formData.core.environment">
      <option value="" ng-disabled="true">Select Environment</option>
      <option value="FIOS">FIOS</option>
      <option ng-disabled="true" value="TRIDENT">TRIDENT</option> 
    </select> 

</div>

<div class="form-group">
    <label for="vendor">Vendor</label>
     
     <select name="Vendor" class="form-control" ng-change="resetServiceConfig()" ng-model="formData.core.vendor">
      <option value="" ng-disabled="true">Select Vendor</option>
	    <option value="NOKIA">Nokia</option>
	    <option ng-disabled="true" value="Calix">Calix</option>
	    <option ng-disabled="true" value="Adtran">Adtran</option>
    	<option ng-disabled="true" value="Arris">Arris</option>
  	</select> 

</div>

 


<div class="form-group">
    <label for="hardware">Hardware</label>
    
     <select name="Hardware" class="form-control" ng-change="resetServiceConfig()" ng-model="formData.core.hardwareType.NokiaHardwareType">
      <option value="" ng-disabled="true">Select Hardware</option>
	    <option value="7342">7342</option>
	    <option ng-disabled="true" value="7360">7360</option>
	    <option ng-disabled="true" value="sdolt">SD-OLT</option> 
  	</select>
</div>

<div class="form-group">
    <label for="dwellingType">Dwelling Type</label>
    
     <select name="DwellingType" class="form-control" ng-change="resetServiceConfig()" ng-model="formData.core.dwellingType" ng-init="formData.core.dwellingType='GSFU'">
      <option value="" ng-disabled="true">Select Dwelling Type</option>
	    <option value="GSFU">GSFU</option>
	    <option value="GMDU">GMDU</option> 
  	</select>
</div>

<div class="form-group">
    <label for="wiringType">Wiring Type</label>
    
     <select name="WiringType" class="form-control" ng-change="resetServiceConfig()" ng-model="formData.core.wiringType" ng-init="formData.core.wiringType='ETHERNET'">
      <option value="" ng-disabled="true">Select Wiring Type</option>
	    <option value="ETHERNET">ETHERNET</option>
	    <option ng-If="formData.core.dwellingType=='GSFU'" value="MOCA">MOCA</option>
	    <option ng-If="formData.core.dwellingType=='GMDU'" value="VDSL2">VDSL2</option> 
  	</select>
</div>

<div class="form-group">
    <label for="operation">Operation</label>
    
     <select name="operationType" class="form-control" ng-change="resetServiceConfig()" ng-model="formData.core.operation" ng-init="formData.core.operation='CLEAN_ADD_SERVICES'">
      <option value="" ng-disabled="true">Select Operation</option>
      <option value="CLEAN_ADD_SERVICES">CLEAN & ADD SERVICES</option>
      <option value="ADD_SERVICE">ADD SERVICES</option>
      <option value="SUSPEND_SERVICE">SUSPEND SERVICE</option>
      <option value="RESUME_SERVICE">RESUME SERVICE</option>
      <option value="REMOVE_SERVICE">REMOVE SERVICE</option> 
      <option value="CLEAR_SERVICES">CLEAR ALL SERVICES</option>
      <option value="GET_INSTALLED_SERVICES">GET INSTALLED SERVICES</option> 
    </select>
</div>
 
<div ng-If="formData.core.operation =='CLEAN_ADD_SERVICES' || formData.core.operation =='ADD_SERVICE'"> 
  <div class="form-group">
      <label for="onttpe">ONT Type</label>
       <select name="ontType" class="form-control" ng-change="resetServiceConfig()" ng-model="formData.core.hardwareType.NokiaONTHardwareType" 
            ng-init="formData.core.hardwareType.NokiaONTHardwareType='G-010G-A'">
        <option value="" ng-disabled="true">Select ONT Type</option>
        <option value="G-010G-A">G-010G-A</option>
        <option value="G-240G-A">G-240G-A</option>
        <option value="G-881G-A">G-881G-A</option>
        <option value="I-211M-G">I-211M-G</option>

      </select>
  </div>

  <div class="form-group">
      <label for="locationid">ONT Serial Number</label>
      <input type="text" class="form-control" name="Ontserialnumber" ng-model="formData.core.ontSerialNumber" required>
  </div>

  <div class="form-group">
      <label for="services">Service Selection</label> <br>

      	 &emsp; <label>HSI   :  
      <input type="checkbox" name="serviceHSI" ng-model="formData.core.services.serviceHSI">
    		</label>

    		 &emsp;&emsp;  <label>VIDEO :   
      <input type="checkbox" name="serviceVideo" ng-model="formData.core.services.serviceVideo">
    		</label>


    		&emsp;&emsp;  <label>VOICE  :   
      <input type="checkbox" name="serviceVoice" ng-model="formData.core.services.serviceVoice">
    		</label>
  <br><br>
  		 
      
  </div>

  <div class="form-group row">


  	<div class="col-xs-3 col-xs-offset-1">
  	    <a ui-sref="form.profile" ng-click="reset()" class="btn btn-block btn-info" 
          data-toggle="tooltip" data-placement="left" 
          title="Reset Form Data" tooltip="reset" tooltip-placement="left" >
  	    Reset <span class="glyphicon glyphicon-circle-arrow-left"></span>
  	    </a>
  	</div>

    
    <div class="col-xs-3 col-xs-offset-3">
        <a ng-click="goForward()"
        class="btn btn-block btn-info" ng-If="formData.core.services.serviceHSI ||  formData.core.services.serviceVideo || formData.core.services.serviceVoice"
          data-toggle="tooltip" data-placement="left" 
          title="Next Service" tooltip="next" tooltip-placement="left">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div> 

  </div>
</div>

<div ng-If="formData.core.operation =='SUSPEND_SERVICE' || formData.core.operation =='RESUME_SERVICE' || formData.core.operation =='REMOVE_SERVICE' 
    || formData.core.operation =='CLEAR_SERVICES' || formData.core.operation =='GET_INSTALLED_SERVICES'"> 

  <div ng-If="formData.core.operation =='SUSPEND_SERVICE' || formData.core.operation =='RESUME_SERVICE' || formData.core.operation =='REMOVE_SERVICE'"> 

    <div class="form-group">
        <label for="service">Service</label>
        
         <select name="DwellingType" class="form-control" ng-change="resetServiceConfig()" ng-model="formData.core.service" ng-init="formData.core.service='HSIService'">
          <option value="" ng-disabled="true">Select Service</option>
          <option value="HSIService">HSI</option>
          <option value="VideoService">Video</option> 
          <option value="VoiceService">Voice</option> 
        </select>
    </div>

  </div>

  
  <div class="form-group row">


    <div class="col-xs-3 col-xs-offset-1">
        <a ui-sref="form.profile" ng-click="reset()" class="btn btn-block btn-info" 
          data-toggle="tooltip" data-placement="left" 
          title="Reset Form Data" tooltip="reset" tooltip-placement="left" >
        Reset <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>
    </div>

    
    <div class="col-xs-3 col-xs-offset-3">
        <a ng-click="goForward()"
        class="btn btn-block btn-info" 
          data-toggle="tooltip" data-placement="left" 
          title="Review" tooltip="next" tooltip-placement="left">
        Review <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div> 

  </div>

</div>  

 
</div>