<div ng-If="formData.core.services.serviceVideo">

<h3>Video Options</h3><br>

<!--  <label for="locationid">Video ONT Card ID</label>
    <input type="text" class="form-control" name="VideoOntcardid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VideoServices.Nokia_7342_Video_Template.ontCardID">
</div> -->

<div class="form-group">
    <label for="locationid">Video Port ID</label>
    <input type="text" class="form-control" name="Videoportid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VideoServices.Nokia_7342_Video_Template.videoPortID" required>
</div>


 
 <div class="form-group row">

    <div class="col-xs-2 col-xs-offset-1">
        <a ng-click="goBack()" class="btn btn-block btn-info" 
        data-toggle="tooltip" data-placement="left" 
        title="Previous Service" tooltip="prev" tooltip-placement="left">
        Prev <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
    <a ui-sref="form.video" ng-click="resetVideo()" class="btn btn-block btn-info" 
    data-toggle="tooltip" data-placement="left" 
        title="Reset Form Data" tooltip="reset" tooltip-placement="left">
    Reset <span class="glyphicon glyphicon-circle-arrow-center"></span>
    </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
        <a class="btn btn-block btn-info" 
        data-toggle="tooltip" data-placement="left" ng-click="goForward()"
        title="Next Service" tooltip="next" tooltip-placement="left">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>

</div>

<div ng-if="formData.core.services.serviceVideo == true">
<input type="hidden" name="entityId" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VideoServices.Nokia_7342_Video_Template.ontSerialNumber" 
    ng-init="formData.serviceConfigurations.NokiaServiceConfiguration.VideoServices.Nokia_7342_Video_Template.ontSerialNumber = formData.core.ontSerialNumber" />
</div>

</div>