

<h3>Results</h3><br>
 
 

 <table style="width:100%">
              <caption><i><h4>Cross Connect Provisioning Result </h4></i></caption>

              <tr>
                <th><b>Network Status</b></th>
                <td>{{responseCode}}</td>                
              </tr> 

              <tr>
                 <th><b>Response </b></th>
                <td>{{ responseStr }}</td>
              </tr> 

              
</table>
<br><br>

 
 <div class="form-group row">

    <div class="col-xs-3 col-xs-offset-1">
        <a ui-sref="form.objSelection"  class="btn btn-block btn-info" ng-click="reset()"
        data-toggle="tooltip" data-placement="left" 
        title="Start New" tooltip="prev" tooltip-placement="left">
        Home <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>

    <div class="col-xs-3 col-xs-offset-2">
    <a ui-sref="form.objSelection" ng-click="reset()" class="btn btn-block btn-info" 
    data-toggle="tooltip" data-placement="left" 
        title="Exit Application" tooltip="reset" tooltip-placement="left">
    Exit <span class="glyphicon glyphicon-off"></span>
    </a>
    </div>

    

</div>