

<h3>Review Configurations</h3><br>

 <div>
 <table style="width:100%">
  <caption><h4><i>Object Selection</i></h4></caption>
  <tr>
    <!-- <th><b>Location</b></th>
    <td>{{ reviewData.objectLocation }}</td> -->

     <th><b>Location ID</b></th>
    <td>{{ reviewData.objectLocationID }}</td>

    <th><b>Environment</b></th>
    <td>{{ reviewData.environment }}</td>

    
  </tr>

 

  <tr>
    <th><b>Vendor</b></th>
    <td>{{ reviewData.vendor }}</td>

    <th><b>Hardware</b></th>
    <td>{{ reviewData.hardwareType.NokiaHardwareType }}</td>
  </tr>

  <tr>
    <th><b>Dwelling Type</b></th>
    <td>{{ reviewData.dwellingType }}</td>

    <th><b>Wiring Type</b></th>
    <td>{{ reviewData.wiringType }}</td>
  </tr>

   <tr>
    <th><b>Operation</b></th>
    <td>{{ reviewData.operation }}</td>

     <div ng-If="formData.core.operation =='SUSPEND_SERVICE' || formData.core.operation =='RESUME_SERVICE' || formData.core.operation =='REMOVE_SERVICE'"> 

        <th><b>Service</b></th>
        <td>{{ reviewData.service }}</td>

     </div>
 
  </tr>

  <div ng-If="formData.core.operation =='CLEAN_ADD_SERVICES' || formData.core.operation =='ADD_SERVICE'"> 
     <tr>
      <th><b>ONT Type</b></th>
      <td>{{ reviewData.ontType }}</td>
    
      <th><b>ONT Serial Number</b></th>
      <td>{{ reviewData.ontSerialNumber }}</td>
    </tr> 
  </div>

</table>
</div> 
<br>

<div ng-If="formData.core.services.serviceHSI">

    <div ng-If="formData.core.dwellingType=='GSFU'">

        <div ng-If="formData.core.wiringType=='ETHERNET'">

            <table style="width:100%">
              <caption><i><h4>HSI Options - {{formData.core.wiringType}}</h4></i></caption>
              <tr>
                <th><b>Customer VLan ID</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.ethPortCustomerVLANID }}</td>

                 <th><b>Source VLan ID</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiVLANID }}</td>
              </tr>

              <tr>
                <th><b>Port ID</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.ethPortID }}</td>

                <th><b>Service ID</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiServiceID }}</td>
              </tr>

              <tr>
                <th><b>Customer ID</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiCustomerID }}</td>

                <th><b>Service Label</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiServiceLabel }}</td>
              </tr>

               <tr>
                <th><b>Downstream BW Profile</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiDownBWProfile }}</td>

                <th><b>Upstream BW Profile</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiUpBWProfile }}</td>
              </tr>
              
             </table> 
         </div>

         <div ng-If="formData.core.wiringType=='MOCA'">

            <table style="width:100%">
              <caption><i><h4>HSI Options - {{formData.core.wiringType}}</h4></i></caption>
              <tr>
                <th><b>Customer VLan ID</b></th>
                <th>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.params_CustomerVLANID }}</th>

                 <th><b>Source VLan ID</b></th>
                <th>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiVLANID }}</th>
              </tr>

              <tr>
                <td><b>Port ID</b></td>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.mocaPortID }}</td>

                <td><b>Service ID</b></td>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiServiceID }}</td>
              </tr>

              <tr>
                <td><b>Customer ID</b></td>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiCustomerID }}</td>

                <td><b>Service Label</b></td>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiServiceLabel }}</td>
              </tr>

               <tr>
                <td><b>Downstream Bandwidth Profile</b></td>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiDownBWProfile }}</td>

                <td><b>Upstream Bandwidth Profile</b></td>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiUpBWProfile }}</td>
              </tr>
              
             </table> 
         </div>
     
 
    </div>

    <div ng-If="formData.core.dwellingType=='GMDU'" style="border-style: solid; border-width:thin; border-color:red">

        <div ng-If="formData.core.wiringType=='ETHERNET'">

            <div ng-repeat="Nokia_7342_ETH_Template in reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template track by $id(Nokia_7342_ETH_Template)">

                 <table style="width:100%">
                  <caption><i><h4>HSI Options - {{formData.core.wiringType}} ({{$index +1}})</h4></i></caption>
                  <tr>
                    <th><b>Customer VLan ID</b></th>
                    <td>{{ Nokia_7342_ETH_Template.ethPortCustomerVLANID }}</td>

                     <th><b>Source VLan ID</b></th>
                    <td>{{ Nokia_7342_ETH_Template.hsiVLANID }}</td>
                  </tr>

                  <tr>
                    <th><b>Port ID</b></th>
                    <td>{{ Nokia_7342_ETH_Template.ethPortID }}</td>

                    <th><b>Service ID</b></th>
                    <td>{{ Nokia_7342_ETH_Template.hsiServiceID }}</td>
                  </tr>

                  <tr>
                    <th><b>Customer ID</b></th>
                    <td>{{ Nokia_7342_ETH_Template.hsiCustomerID }}</td>

                    <th><b>Service Label</b></th>
                    <td>{{ Nokia_7342_ETH_Template.hsiServiceLabel }}</td>
                  </tr>

                   <tr>
                    <th><b>Downstream BW Profile</b></th>
                    <td>{{ Nokia_7342_ETH_Template.hsiDownBWProfile }}</td>

                    <th><b>Upstream BW Profile</b></th>
                    <td>{{ Nokia_7342_ETH_Template.hsiUpBWProfile }}</td>
                  </tr>
                  
                 </table> 
            </div>
        </div>
 

        <div ng-If="formData.core.wiringType=='VDSL2'">

            <div ng-repeat="Nokia_7342_VDSL2_Template in reviewData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template track by $id(Nokia_7342_VDSL2_Template)">

                <table style="width:100%">
                  <caption><i><h4>HSI Options - {{formData.core.wiringType}} ({{$index +1}})</h4></i></caption>
                  <tr>
                    <th><b>Customer VLan ID</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.xdslLineCustVlan }}</td>

                     <th><b>Source VLan ID</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.hsiVLANID }}</td>
                  </tr>

                  <tr>
                    <th><b>XDSL Line Service Profile</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.xdslLineServiceProfile }}</td>

                     <th><b>XDSL Line Spectrum Profile</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.xdslLineSpectrumProfile }}</td>
                  </tr>

                  <tr>
                    <th><b>XDSL Line OpMode Mask</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.xdslLineOpModeMask }}</td>
                     
                  </tr>


                  <tr>
                    <th><b>Port ID</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.xdslPortID }}</td>

                    <th><b>Service ID</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.hsiServiceID }}</td>
                  </tr>

                  <tr>
                    <th><b>Customer ID</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.hsiCustomerID }}</td>

                    <th><b>Service Label</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.hsiServiceLabel }}</td>
                  </tr>

                   <tr>
                    <th><b>Downstream Bandwidth Profile</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.hsiDownBWProfile }}</td>

                    <th><b>Upstream Bandwidth Profile</b></th>
                    <td>{{ Nokia_7342_VDSL2_Template.hsiUpBWProfile }}</td>
                  </tr>
                  
                 </table> 
            </div>
        </div>
    </div>

</div>
<br>

<div ng-If="formData.core.services.serviceVideo">
 

        <table style="width:100%">
          <caption><i><h4>Video Options</h4></i></caption>
          <tr>
            <th><b>Video Port ID</b></th>
            <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VideoServices.Nokia_7342_Video_Template.videoPortID }}</td>

          </tr>          
         </table>  
</div>
<br>

<div ng-If="formData.core.services.serviceVoice">
 
    <div ng-If="formData.core.dwellingType=='GSFU'">

            <table style="width:100%">
              <caption><i><h4>Voice Options</h4></i></caption>

              <tr>
                <th><b>Customer Vlan Id</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.voipVlanId }}</td>

                 <th><b>Source VLan ID</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.params_SourceVlan }}</td>
              </tr> 

              <tr>
                <th><b>Pots Port ID</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.potsPortID }}</td>

                 <th><b>Voip Service Id</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.voipServiceId }}</td>
              </tr> 

              <tr>
                <th><b>Voip Service Index</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.potsPortVoipServiceIndex }}</td>

                 <th><b>Phone Number</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.phoneNumber }}</td>
              </tr> 

               <tr>
                <th><b>Down BW Profile</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.profiles_BandwidthProfileDown }}</td>

                 <th><b>Up BW Profile</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.profiles_BandwidthProfileUp }}</td>
              </tr> 
     
               <tr>
                <th><b>Option61 clientID</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.dhcp_Option61ClientId }}</td>

                 <th><b>Config Clent IP</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.config_Client_IpAddress }}</td>
              </tr> 

               <tr>
                <th><b>SipAddress Profile</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.sipping_Server_NetworkAddressProfile }}</td>

                 <th><b>Sip RealmValue</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.sipping_Server_RealmValue }}</td>
              </tr> 

               <tr>
                <th><b>Sip UserName</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.sipping_Server_UserName }}</td>

                 <th><b>Sip Password</b></th>
                <td>{{ reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.sipping_Server_Password }}</td>
              </tr> 

             </table>  
    </div>

    <div ng-If="formData.core.dwellingType=='GMDU'" style="border-style: solid; border-width:thin; border-color:red">

        <div ng-repeat="Nokia_7342_Voice_Template in reviewData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template track by $id(Nokia_7342_Voice_Template)">

            <table style="width:100%">
              <caption><i><h4>Voice Options - {{$index +1}} </h4></i></caption>

              <tr>
                <th><b>Customer Vlan Id</b></th>
                <td>{{ Nokia_7342_Voice_Template.voipVlanId }}</td>

                 <th><b>Source VLan ID</b></th>
                <td>{{ Nokia_7342_Voice_Template.params_SourceVlan }}</td>
              </tr> 

              <tr>
                <th><b>Pots Port ID</b></th>
                <td>{{ Nokia_7342_Voice_Template.potsPortID }}</td>

                 <th><b>Voip Service Id</b></th>
                <td>{{ Nokia_7342_Voice_Template.voipServiceId }}</td>
              </tr> 

              <tr>
                <th><b>Voip Service Index</b></th>
                <td>{{ Nokia_7342_Voice_Template.potsPortVoipServiceIndex }}</td>

                 <th><b>Phone Number</b></th>
                <td>{{ Nokia_7342_Voice_Template.phoneNumber }}</td>
              </tr> 

               <tr>
                <th><b>Down BW Profile</b></th>
                <td>{{ Nokia_7342_Voice_Template.profiles_BandwidthProfileDown }}</td>

                 <th><b>Up BW Profile</b></th>
                <td>{{ Nokia_7342_Voice_Template.profiles_BandwidthProfileUp }}</td>
              </tr> 
     
               <tr>
                <th><b>Option61 clientID</b></th>
                <td>{{ Nokia_7342_Voice_Template.dhcp_Option61ClientId }}</td>

                 <th><b>Config Clent IP</b></th>
                <td>{{ Nokia_7342_Voice_Template.config_Client_IpAddress }}</td>
              </tr> 

               <tr>
                <th><b>SipAddress Profile</b></th>
                <td>{{ Nokia_7342_Voice_Template.sipping_Server_NetworkAddressProfile }}</td>

                 <th><b>Sip RealmValue</b></th>
                <td>{{ Nokia_7342_Voice_Template.sipping_Server_RealmValue }}</td>
              </tr> 

               <tr>
                <th><b>Sip UserName</b></th>
                <td>{{ Nokia_7342_Voice_Template.sipping_Server_UserName }}</td>

                 <th><b>Sip Password</b></th>
                <td>{{ Nokia_7342_Voice_Template.sipping_Server_Password }}</td>
              </tr> 

            </table>  
        </div>
    </div>

 </div>
<br>
 
  
<!-- ui-sref="form.result" -->
 
 <div class="form-group row">

    <div class="col-xs-2 col-xs-offset-1">
        <a ng-click="goBack()" class="btn btn-block btn-info" 
        data-toggle="tooltip" data-placement="left" 
        title="Previous Service" tooltip="prev" tooltip-placement="left">
        Prev <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
    <a ui-sref="form.review" ng-click="reset()" class="btn btn-block btn-info" 
    data-toggle="tooltip" data-placement="left" 
        title="Reset Form Data" tooltip="reset" tooltip-placement="left">
    Reset <span class="glyphicon glyphicon-circle-arrow-center"></span>
    </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2"> 
         
        <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="left" 
        title="Submit Operation" tooltip="provision" tooltip-placement="left" ng-disabled="isDisabled"> 
          
           <span ng-show="provisionButtonText == 'Working'"><i class="glyphicon glyphicon-refresh spinning"></i>
        </span>{{ provisionButtonText }}</button>
 
    </div>

</div>