<div ng-If="formData.core.services.serviceHSI">

<h3>HSI Options - {{formData.core.wiringType}} <span ng-If="formData.core.dwellingType=='GMDU'"><font color="red">({{hsiTemplateCtr+1}}) </font></span>

</h3><br>

  

 <div ng-If="formData.core.wiringType=='ETHERNET'">

<!-- <div class="form-group">
    <label for="locationid">ONT Card ID</label>
    <input type="text" class="form-control" name="Ontcardid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.ontCardID">
</div> -->

<div class="form-group">
    <label for="locationid">Customer VLan ID</label>
    <input type="text" class="form-control" name="Cvanlid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.ethPortCustomerVLANID" required>
</div>

<div class="form-group">
    <label for="locationid">Source VLan ID</label>
    <input type="text" class="form-control" name="hsivanlid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiVLANID" required>
</div>

<div class="form-group">
    <label for="locationid">Port ID</label>
    <input type="text" class="form-control" name="Ontportid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.ethPortID" required>
</div>

<div class="form-group">
    <label for="locationid">Service ID</label>
    <input type="text" class="form-control" name="Serviceid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiServiceID" required>
</div>
 
 <div class="form-group">
    <label for="locationid">Customer ID</label>
    <input type="text" class="form-control" name="Customerid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiCustomerID" required>
</div>

<div class="form-group">
    <label for="locationid">Service Label</label>
    <input type="text" class="form-control" name="Servicelabel" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiServiceLabel" required>
</div>

<div class="form-group">
    <label for="dwellingType">Downstream Bandwidth Profile</label>
    
     <select name="DownbwProfile" class="form-control" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiDownBWProfile">
        <option value="" ng-disabled="true">Select Downstream Bandwidth Profile</option>
        <option value="25M">25M</option>
        <option value="50M">50M</option> 
         <option value="75M">75M</option> 
          <option value="100M">100M</option> 
    </select>
</div>

<div class="form-group">
    <label for="dwellingType">Upstream Bandwidth Profile</label>
    
     <select name="UpbwProfile" class="form-control" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.hsiUpBWProfile">
        <option value="" ng-disabled="true">Select Upstream Bandwidth Profile</option>
        <option value="25M">25M</option>
        <option value="50M">50M</option> 
         <option value="75M">75M</option> 
          <option value="100M">100M</option> 
    </select>
</div>
</div>

 <div ng-If="formData.core.wiringType=='MOCA'">
 
<!-- <div class="form-group">
    <label for="locationid">ONT Card ID</label>
    <input type="text" class="form-control" name="Ontcardid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.ontCardID">
</div> -->

<div class="form-group">
    <label for="locationid">Customer VLan ID</label>
    <input type="text" class="form-control" name="Cvanlid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.params_CustomerVLANID" required>
</div>

<div class="form-group">
    <label for="locationid">Source VLan ID</label>
    <input type="text" class="form-control" name="hsivanlid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiVLANID" required>
</div>

<div class="form-group">
    <label for="locationid">Port ID</label>
    <input type="text" class="form-control" name="Ontportid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.mocaPortID" required>
</div>

<div class="form-group">
    <label for="locationid">Service ID</label>
    <input type="text" class="form-control" name="Serviceid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiServiceID" required>
</div>
 
 <div class="form-group">
    <label for="locationid">Customer ID</label>
    <input type="text" class="form-control" name="Customerid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiCustomerID" required>
</div>

<div class="form-group">
    <label for="locationid">Service Label</label>
    <input type="text" class="form-control" name="Servicelabel" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiServiceLabel" required>
</div>

<div class="form-group">
    <label for="dwellingType">Downstream Bandwidth Profile</label>
    
     <select name="DownbwProfile" class="form-control" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiDownBWProfile">
        <option value="" ng-disabled="true">Select Downstream Bandwidth Profile</option>
        <option value="25M">25M</option>
        <option value="50M">50M</option> 
         <option value="75M">75M</option> 
          <option value="100M">100M</option> 
    </select>
</div>

<div class="form-group">
    <label for="dwellingType">Upstream Bandwidth Profile</label>
    
     <select name="UpbwProfile" class="form-control" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.hsiUpBWProfile">
        <option value="" ng-disabled="true">Select Upstream Bandwidth Profile</option>
        <option value="25M">25M</option>
        <option value="50M">50M</option> 
         <option value="75M">75M</option> 
          <option value="100M">100M</option> 
    </select>
</div> 
</div>

<div ng-If="formData.core.wiringType=='VDSL2'">

<!-- <div class="form-group">
    <label for="locationid">ONT Card ID</label>
    <input type="text" class="form-control" name="Ontcardid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.ontCardID">
</div> -->

<div class="form-group">
    <label for="locationid">Customer VLan ID</label>
    <input type="text" class="form-control" name="Cvanlid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.xdslLineCustVlan" required>
</div>

<div class="form-group">
    <label for="locationid">Source VLan ID</label>
    <input type="text" class="form-control" name="hsivanlid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.hsiVLANID" required>
</div>

<div class="form-group">
    <label for="locationid">XDSL Line Service Profile</label>
    <input type="text" class="form-control" name="xdslLineServiceProfile" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.xdslLineServiceProfile" required>
</div>

<div class="form-group">
    <label for="locationid">XDSL Line Spectrum Profile</label>
    <input type="text" class="form-control" name="xdslLineSpectrumProfile" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.xdslLineSpectrumProfile" required>
</div>

<div class="form-group">
    <label for="locationid">XDSL Line OpMode Mask</label>
    <input type="text" class="form-control" name="xdslLineOpModeMask" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.xdslLineOpModeMask" required>
</div>



<div class="form-group">
    <label for="locationid">Port ID</label>
    <input type="text" class="form-control" name="Ontportid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.xdslPortID" required>
</div>

<div class="form-group">
    <label for="locationid">Service ID</label>
    <input type="text" class="form-control" name="Serviceid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.hsiServiceID" required>
</div>
 
 <div class="form-group">
    <label for="locationid">Customer ID</label>
    <input type="text" class="form-control" name="Customerid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.hsiCustomerID" required>
</div>

<div class="form-group">
    <label for="locationid">Service Label</label>
    <input type="text" class="form-control" name="Servicelabel" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.hsiServiceLabel" required>
</div>

<div class="form-group">
    <label for="dwellingType">Downstream Bandwidth Profile</label>
    
     <select name="DownbwProfile" class="form-control" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.hsiDownBWProfile">
        <option value="" ng-disabled="true">Select Downstream Bandwidth Profile</option>
        <option value="25M">25M</option>
        <option value="50M">50M</option> 
         <option value="75M">75M</option> 
          <option value="100M">100M</option> 
    </select>
</div>

<div class="form-group">
    <label for="dwellingType">Upstream Bandwidth Profile</label>
    
     <select name="UpbwProfile" class="form-control" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.hsiUpBWProfile">
        <option value="" ng-disabled="true">Select Upstream Bandwidth Profile</option>
        <option value="25M">25M</option>
        <option value="50M">50M</option> 
         <option value="75M">75M</option> 
          <option value="100M">100M</option> 
    </select>
</div>
</div>

<div class="form-group row" ng-If="formData.core.dwellingType=='GMDU'">

    

    <div class="col-xs-2 col-xs-offset-1">
    <a ui-sref="form.hsi" ng-click="prevHSI()" class="btn btn-default btn-sm"
    data-toggle="tooltip" data-placement="left" 
        title="Previous Service Line" tooltip="prevL" tooltip-placement="left">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    </div>

   <div class="col-xs-1 col-xs-offset-1">
     <a ui-sref="form.hsi" ng-click="addHSI()" class="btn btn-default btn-sm"
     data-toggle="tooltip" data-placement="left" 
        title="New Service Line" tooltip="addL" tooltip-placement="left">
    <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
    </div> 


     <div class="col-xs-1 col-xs-offset-0">
     <a ui-sref="form.hsi" ng-click="copyHSI()" class="btn btn-default btn-sm"
     data-toggle="tooltip" data-placement="left" 
        title="Copy Service Line" tooltip="copyL" tooltip-placement="left">
    <span class="glyphicon glyphicon-repeat"></span>
    </a>
    </div> 

    <div class="col-xs-1 col-xs-offset-0">
     <a ui-sref="form.hsi" ng-click="saveHSI()" class="btn btn-default btn-sm"
     data-toggle="tooltip" data-placement="left" 
        title="Save Service Line" tooltip="saveL" tooltip-placement="left">
    <span class="glyphicon glyphicon-save"></span>
    </a>
    </div> 

    <div class="col-xs-1 col-xs-offset-0">
     <a ui-sref="form.hsi" ng-click="deleteHSI()" class="btn btn-default btn-sm"
     data-toggle="tooltip" data-placement="left" 
        title="Remove Service Line" tooltip="delL" tooltip-placement="left">
    <span class="glyphicon glyphicon-trash"></span>
    </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
        <a ui-sref="form.hsi" ng-click="nextHSI()" class="btn btn-default btn-sm" 
        data-toggle="tooltip" data-placement="left" 
        title="Next Service Line" tooltip="nextL" tooltip-placement="left">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
     

</div>

<br>

<div class="form-group row">

    

    <div class="col-xs-2 col-xs-offset-1">
    <a ng-click="goBack()" class="btn btn-block btn-info" 
    data-toggle="tooltip" data-placement="left" 
        title="Previous Service" tooltip="prev" tooltip-placement="left">
    Prev <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
        <a ui-sref="form.hsi" ng-click="resetHSI()" class="btn btn-block btn-info" 
        data-toggle="tooltip" data-placement="left" 
        title="Reset Form Data" tooltip="reset" tooltip-placement="left">
        Reset <span class="glyphicon glyphicon-circle-arrow-center"></span>
        </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
        <a class="btn btn-block btn-info" 
        data-toggle="tooltip" data-placement="left" ng-click="goForward()"
        title="Next Service" tooltip="next" tooltip-placement="left">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
 

</div>

<div ng-if="formData.core.services.serviceHSI == true">

    <div ng-If="formData.core.wiringType=='ETHERNET'">
        <input type="hidden" name="entityId" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.ontSerialNumber" 
            ng-init="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_ETH_Template.ontSerialNumber = formData.core.ontSerialNumber" />
    </div>

    <div ng-If="formData.core.wiringType=='MOCA'">
        <input type="hidden" name="entityId" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.ontSerialNumber" 
            ng-init="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_MOCA_Template.ontSerialNumber = formData.core.ontSerialNumber" />
     </div>   

      <div ng-If="formData.core.wiringType=='VDSL2'">
        <input type="hidden" name="entityId" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.ontSerialNumber" 
            ng-init="formData.serviceConfigurations.NokiaServiceConfiguration.HSIServices.Nokia_7342_VDSL2_Template.ontSerialNumber = formData.core.ontSerialNumber" />
     </div>       

</div>

</div>