<div ng-If="formData.core.services.serviceVoice">


<div ng-If="formData.core.dwellingType=='GSFU'">
    <h3>Voice Options </h3><br> 
</div>

<div ng-If="formData.core.dwellingType=='GMDU'">
    <h3>Voice Options - <font color="red">({{voiceTemplateCtr+1}}) </font></h3><br>

</div>

<!-- <div class="form-group">
    <label for="locationid">Voice ONT Card ID</label>
    <input type="text" class="form-control" name="VoiceOntcardid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.ontCardID">
</div> -->

<div class="form-group">
    <label for="locationid">Voip Customer Vlan Id</label>
    <input type="text" class="form-control" name="VoipVlanId" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.voipVlanId" required>
</div>

<div class="form-group">
    <label for="locationid">Voip Source Vlan ID</label>
    <input type="text" class="form-control" name="Params_SourceVlan" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.params_SourceVlan" required>
</div>
 

<div class="form-group">
    <label for="locationid">Pots Port ID</label>
    <input type="text" class="form-control" name="Potsportid" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.potsPortID" required>
</div>

<div class="form-group">
    <label for="locationid">Voip Service Id</label>
    <input type="text" class="form-control" name="VoipServiceId" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.voipServiceId" required>
</div>

<div class="form-group">
    <label for="locationid">Pots Port Voip Service Index</label>
    <input type="text" class="form-control" name="PotsPortVoipServiceIndex" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.potsPortVoipServiceIndex" required>
</div>

<div class="form-group">
    <label for="locationid">Phone Number</label>
    <input type="text" class="form-control" name="PhoneNumber" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.phoneNumber" required>
</div>

<div class="form-group">
    <label for="dwellingType">Voip Downstream Bandwidth Profile</label>
    
     <select name="VoipDownbwProfile" class="form-control" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.profiles_BandwidthProfileDown" required>
        <option value="" ng-disabled="true">Select Downstream Voip Bandwidth Profile</option>
        <option value="2SIP">2SIP</option>
        <option value="24SIP">24SIP</option>  
    </select>
</div>

<div class="form-group">
    <label for="dwellingType">Voip Upstream Bandwidth Profile</label>
    
     <select name="VoipUpbwProfile" class="form-control" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.profiles_BandwidthProfileUp" required>
        <option value="" ng-disabled="true">Select Upstream Bandwidth Profile</option>
         <option value="2SIP">2SIP</option>
        <option value="24SIP">24SIP</option>  
    </select>
</div>

<div class="form-group">
    <label for="locationid">Dhcp Option 61 client ID</label>
    <input type="text" class="form-control" name="DhcpOption61ClientId" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.dhcp_Option61ClientId" required>
</div>

 
<div class="form-group">
    <label for="locationid">Config Clent IP Address</label>
    <input type="text" class="form-control" name="Config_Client_IpAddress" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.config_Client_IpAddress" required>
</div>


<div class="form-group">
    <label for="locationid">Sipping Server Network Address Profile</label>
    <input type="text" class="form-control" name="Sipping_Server_NetworkAddressProfile" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.sipping_Server_NetworkAddressProfile" required>
</div>

<div class="form-group">
    <label for="locationid">Sipping Server UserName</label>
    <input type="text" class="form-control" name="Sipping_Server_UserName" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.sipping_Server_UserName" required>
</div>

<div class="form-group">
    <label for="locationid">Sipping Server Password</label>
    <input type="text" class="form-control" name="Sipping_Server_Password" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.sipping_Server_Password" required>
</div>


<div class="form-group">
    <label for="locationid">Sipping Server RealmValue</label>
    <input type="text" class="form-control" name="Sipping_Server_RealmValue" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.sipping_Server_RealmValue" required>
</div> 
 
<!-- <div class="form-group">
    <label for="locationid">Pots Port Customer Info</label>
    <input type="text" class="form-control" name="PotsPortCustomerInfo" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.potsPortCustomerInfo">
</div> -->


<div class="form-group row" ng-If="formData.core.dwellingType=='GMDU'">

    
    <div class="col-xs-2 col-xs-offset-1">
    <a ui-sref="form.voice" ng-click="prevVoice()" class="btn btn-default btn-sm"
    data-toggle="tooltip" data-placement="left" 
        title="Previous Service Line" tooltip="prevL" tooltip-placement="left">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    </div>

   <div class="col-xs-1 col-xs-offset-1">
     <a ui-sref="form.voice" ng-click="addVoice()" class="btn btn-default btn-sm"
     data-toggle="tooltip" data-placement="left" 
        title="New Service Line" tooltip="addL" tooltip-placement="left">
    <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
    </div> 


     <div class="col-xs-1 col-xs-offset-0">
     <a ui-sref="form.voice" ng-click="copyVoice()" class="btn btn-default btn-sm"
     data-toggle="tooltip" data-placement="left" 
        title="Copy Service Line" tooltip="copyL" tooltip-placement="left">
    <span class="glyphicon glyphicon-repeat"></span>
    </a>
    </div> 

    <div class="col-xs-1 col-xs-offset-0">
     <a ui-sref="form.voice" ng-click="saveVoice()" class="btn btn-default btn-sm"
     data-toggle="tooltip" data-placement="left" 
        title="Save Service Line" tooltip="saveL" tooltip-placement="left">
    <span class="glyphicon glyphicon-save"></span>
    </a>
    </div> 

    <div class="col-xs-1 col-xs-offset-0">
     <a ui-sref="form.voice" ng-click="deleteVoice()" class="btn btn-default btn-sm"
     data-toggle="tooltip" data-placement="left" 
        title="Remove Service Line" tooltip="delL" tooltip-placement="left">
    <span class="glyphicon glyphicon-trash"></span>
    </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
        <a ui-sref="form.voice" ng-click="nextVoice()" class="btn btn-default btn-sm" 
        data-toggle="tooltip" data-placement="left" 
        title="Next Service Line" tooltip="nextL" tooltip-placement="left">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

     

</div>
<br>
 
 <div class="form-group row">

    <div class="col-xs-2 col-xs-offset-1">
        <a ng-click="goBack()" class="btn btn-block btn-info" 
        data-toggle="tooltip" data-placement="left" 
        title="Previous Service" tooltip="prev" tooltip-placement="left">
        Prev <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>
    </div>

    <div class="col-xs-2 col-xs-offset-2">
    <a ui-sref="form.voice" ng-click="resetVoice()" class="btn btn-block btn-info" 
    data-toggle="tooltip" data-placement="left" 
        title="Reset Form Data" tooltip="reset" tooltip-placement="left">
    Reset <span class="glyphicon glyphicon-circle-arrow-center"></span>
    </a>
    </div>

      

    <div class="col-xs-2 col-xs-offset-2">
        <a class="btn btn-block btn-warning" 
        data-toggle="tooltip" data-placement="left" ng-click="goForward()"
        title="Next Service" tooltip="next" tooltip-placement="left">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>

</div>

<div ng-if="formData.core.services.serviceVoice == true">
<input type="hidden" name="entityId" ng-model="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.ontSerialNumber" 
    ng-init="formData.serviceConfigurations.NokiaServiceConfiguration.VoiceServices.Nokia_7342_Voice_Template.ontSerialNumber = formData.core.ontSerialNumber" />
</div>

</div>